* {
    margin:inherit;
    padding:0;
    outline: 0;
}

h1 {
    font-size: 600%;
}

h3 {
    font-size: 300%;
    margin-bottom: 0;
}
/*No es necesario actualmente
img {
    margin: 0;
} */

a {
    text-decoration: none;
    margin: 30px;
    color:unset;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a div img {
    height: 100px;
}

nav a {
    margin:0;
}

.logo {
    height: 100px;
    margin:0;
}

#vinculo_ini :hover {
    color: white;
    background-color:#c6c6c6;
}

#vinculo_pa :hover {
    color: white;
    background-color:#2b9ac2;
}

#vinculo_do :hover {
    color: white;
    background-color:#05835f;
}

button {
    display: inline-block;
    width: 20%;
    font-size: x-large;
    margin-top: 10px;
}

table {
    border: solid 2px white;
    border-collapse: collapse;
}

.doc_th th {
    background-color: #069e73;
    border-bottom: solid 2px white;
    padding: 15px 20px;
    width: auto;
}

.doc_tr tr {
    cursor: pointer;
    background-color: #03c28c;
}

.doc_tr :hover {
    background-color: #00A878;
}

.pac_th th {
    background-color: #31b6e6;
    border-bottom: solid 2px white;
    padding: 15px 20px;
    width: auto;
}

.pac_tr tr {
    cursor: pointer;
    background-color: #60d5ff;
}

.pac_tr :hover {
    background-color: #30BCED;
}

td {
    border-bottom: solid 2px white;
    padding: 15px 20px;
    width: auto;
}

.inputs {
    margin-left: 0;
    margin-right: 0;
    font-size: large;
    width: 35%;
    text-align: center;
    border: solid 2px;
}

/*No funciona 
.inputs :hover {
    background-color: white;
} */

label {
    margin-right: 0;
    margin-left: 0;
    font-weight: 600;
}

html {
    background-color: #303036 ;
    text-align: center;
}

#fir_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #FFFAFF;
    margin: 60px;
    border: solid black 5px; */
}

#inicio {
    background-color: #fff;
}

#main_paci {
    background-color: #30BCED;
}

#main_doctor {
    background-color: #00A878;
}

#main_admin {
    background-color: #FFFAFF;
}

/*Se uso para probar el funcionamiento de los inputs*/
.warning {
    border: solid #FF6060 2px;
    background-color: #FF8787;
}

.caja {
    margin: 25px;
}

.caja_index {
    border-style: solid;
    border-width: 5px;
    border-color: #515158;
}

.fir_enun {
    color: #FFFAFF;
    margin: 30px;
    margin-bottom: 0;
}

.paciente {
    background-color: #30BCED;
    text-align: center;
    font-size: x-large;
    border: solid #515158;
    border-width: 5px;
    margin: 50px;
    display: inline-block;
    width: 60%;
}

.doctor {
    background-color: #00A878;
    text-align: center;
    font-size: x-large;
    border: solid #515158;
    border-width: 5px;
    margin: 50px;
    display: inline-block;
    width: 60%;
}

.lista_none {
    display: none;
}

.lista_style {
    width:auto;
    font-size: x-large;
}

.lista_style b{
    margin: 15px;
}